
body{
    margin: 0;
    justify-content: center;
    text-align: justify;
}    
       /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */ 

  @media (min-width: 1025px) and (max-width: 1360px) { 
    .container, .child3, .child  {
         float: none;
         width: 100%;
       }        
    
 

#about{
        display: grid;
        grid-template-columns: 50% 50%;    
        align-content: space-evenly;
        text-align: justify;
        margin: 0;
    }

    #job-info{
        display: grid;
        grid-template-columns: 25% 25% 25%;  
        grid-template-rows: auto auto;  
        padding: 10px;
        align-content: center;
        text-align: justify;
        margin: 0;
        justify-content: center;
    }

    .prize{
        display: grid;
        grid-template-columns: 37.5% 37.5%; 
        grid-template-rows: auto ;  
        padding: 10px;
        align-content: space-evenly;
        text-align: justify;
        margin: 0;
        justify-content: center;
    }

    .project {
        box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.07);
        border-radius: 12px;
        display: grid;
        grid-template-columns: 25% 25% 25%;   
        padding: 10px;
        align-content: space-evenly;
        text-align: justify;
        justify-content: center;
    }

    .kid{
        text-align: center; 
        width: auto;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 10px;
    }

}

.child{
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(128, 118, 118, 0.8);
    padding: 20px;
    text-align: left;    
    display: inline-block;
    margin: 10px;
}

.child1{
    background-color: rgba(255, 255, 255, 0.8);   
    text-align: left;    
    display: inline-block;   
    padding: 0 40px;
}

.icon1 {
    stroke: rgb(77, 149, 231);
    width: 24px;
    height: 24px;
}

.bg-grey {
    background: #f7f7f7;
    
}

.cv-page {
    outline: 0;
    font-weight: inherit;
    font-style: inherit;  
    vertical-align: baseline;
    text-decoration: none;
    width: 1200px;
    height: auto;
    margin: auto auto;
    position: relative;
    padding: 40px;
    font-size:10px;
    border: 1px solid black;
}

section > .container{
    margin: auto;
    display: inline-block;
    
}

#nav-bar {
    text-align: center;
    overflow: hidden;  
    display: grid;
}
#nav-bar a{     
    text-align: center;
    padding: 14px;
    text-decoration: none;
    display: inline-block;
    text-decoration: none;
     
}
#nav-bar a:hover{
    background-color: #fff;
    color: blue;
}
#nav-bar a:active{
    /*background-color: blue;*/
    color: #fff;
}

#banner{
    background-image: linear-gradient(rgba(34,34,34,0.6),
    rgba(34,34,34,0.6)), 
    url(images/banner.jpg);
    height: 50vh;   
    position: relative;
    background-size: cover;
    text-align: center;
    color: #fff;
    display: block;
}

.un{
    font-size: medium;
}

.container1{
    display: flex;
    justify-content: flex-start;   
    align-items: center;
}

.point{
    background: #199cdb;
    display: inline-block;
    height: 2px;
    margin-right: 10px;
    width: 20px;
    column-gap: 10px;
}

.point1{
    background: #7b878d;
    display: inline-block;
    height: 2px;
    margin-right: 10px;
    width: 20px;
    column-gap: 10px;
}

.center {
    display: block;
    width: 100%;
    height: 200px;
}

.section-title{
    text-indent: 50px;
    padding-left: 10px;
    font-size: 25px;
    padding-top:20px;
}

.item1 {
    grid-column: 1 / span 2;
}

table{
    width: auto;
    margin: auto;
    text-align: left;
    display: flex;
    justify-content: center;
    column-gap: 20px;
    border-collapse: collapse;    
}

td{
    text-align: justify;
}

.project-box {
    
    text-align: center;
    overflow: hidden;  
    display: grid;
}
.project-box p{   
    text-decoration: none; 
    display: inline-block;
    text-decoration: none;
}
h4{
    text-align: left;
}
.text{
    font-size:2em;
}
.image {   
    float: left;
    width:150px;
    height:auto;
    margin-right:20px;
}

#footer> .container{
    text-align: center; 
    width: auto;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
}

a{
    color: rgba(28, 114, 243, 0.644);
}

.container2{
    display: flex;
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding-top: 20px;
    align-content: space-evenly;
    text-align: justify;
    margin: 0;
    justify-content: space-between;

}
.circle{
    display: flex;
    border-radius: 50%;
    border: 1px solid rgba(28, 114, 243, 0.644);
    padding: 10px;
    text-align: center;
}

.radius{
    border-radius: 25%;
    
    background-color: rgba(28, 114, 243, 0.644);
}

.border1{
    border-bottom: 1px solid #ddcba2;
}
.child2{
    background-color: rgba(255, 255, 255, 0.8);   
    text-align: left;    
    display: inline-block; 
}
.colori{
    color: rgba(28, 114, 243, 0.644);
}

.big-icons{
    font-size: 250%;
}
.left-right{
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}


.hc{
    border-bottom: 1px solid gray;
}
.child3{
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(128, 118, 118, 0.8);
    text-align: left;    
    display: inline-block;
}

.top-bottom{
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}
.padding-L{
    padding-left: 20px;
}

p{
    margin-top: 3px !important;
    margin-bottom: 5px !important;
}

.borderL{
    border-left:1px solid black !important;
}

.child4{
    background-color: #f5f5f5;    
    text-align: center; 
    width: auto;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
}
