 
    /* 
    ##Device = Low Resolution Tablets, Mobiles 
    ##Screen = B/w 320px to 767px
  */
 
  @media (min-width: 320px) and (max-width: 767px) {  
        .container, .child3, .child {         
          overflow: inherit;
          box-sizing: border-box;
          padding-right: 0;
          max-width: none !important;
        } 

        .cv-page {
          outline: 0;
          font-weight: inherit;
          font-style: inherit;  
          vertical-align: baseline;
          text-decoration: none;
          width: auto;
          
          height: 100%;
          margin: 20px;
          position: relative;
          padding: 20px 0;
          border: 1px solid black;
        }

        .hide{
            display:none;           
            padding: 0 !important;
        }

        #banner{
          background-image: linear-gradient(rgba(34,34,34,0.6), rgba(34,34,34,0.6)), url(images/banner.jpg);
          min-height: 80vh;
          width: auto;
          position: relative;
          background-size: 100% 100%;
          margin: 0 20px 20px;
          text-align: center;
          color: #fff;
          display: block;          
          object-fit: scale-down;
        }

        #nav-bar {
          text-align: center;
          overflow: hidden;  
          display: grid;
          justify-content: start;
        }
        #nav-bar a{     
            text-align: left;
            text-decoration: none;
            display: inline-block;
            text-decoration: none;
            float: none;
            width: 100%;
            border-left: 0 !important;
            border-right: 0;
            padding: 10px;
            font-size: 20px !important;          
        }

        #nav-bar a:hover{
            background-color: #fff;
            color: blue;
        }
        #nav-bar a:active{
            /*background-color: blue;*/
            color: #fff;
        }

        h2{
          font-size: 40px !important;
          text-align: center;
          padding: 40px;
          }

          h4{
            font-size: 40px !important;
          }

        .p1{
          padding: 0 10px 10px 10px !important;
        }

        .child1{
          background-color: #f5f5f5;   
          text-align: left;    
          display: inline-block;  
          padding: 0 !important;   
                           
        }

        .section-title{
          text-align: left;
          font-size: 25px;
          padding-top:20px;
          text-indent: 0;
          margin-top: 40px;
        }

        #about{
          display: grid;
          grid-template-rows: 50% 50% !important;    
          align-content: space-evenly;
          text-align: justify;
          margin: 0;
          background-color: #f0f0f0;
          height: 800px;
          width: auto;
          margin-top: 20px;
          font-size: 20px;
      }

        #job-info{
          display: grid;
          width: auto;
          align-content: left;
          text-align: justify;
          margin: 0;
          justify-content: center;
      }

        .child{
          background-color: rgba(255, 255, 255, 0.8);
          border: 1px solid rgba(128, 118, 118, 0.8);
          padding: 20px;
          text-align: left;    
          display: inline-block;
          margin: 0;
          font-size: 15px;
        }

        .prize{
          display: grid;
          align-content: center;
          text-align: justify;
          margin: 0;
          justify-content: center;
          width: auto;
          font-size: 20px;
          padding-left: 10px;
        }

        .center {
          display: block;
          width: 100%;
          height: auto;
          margin-top: 20px;
        }

          .border1{
            border-right: 0 !important;
        }

        .project {
          box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.07);   
          display: grid;     
          padding: 0;
          align-content: space-evenly;
          text-align: justify;
          justify-content: center;
          font-size: 15px;
        }

        .kid{
          text-align: center;
          width: auto;
          height: 100px;
          display: flex;
          justify-content: center;
          column-gap: 10px;
          align-content: flex-start;
          flex-direction: column;
          flex-wrap: nowrap;
          align-items: flex-start;
          padding-left: 10px;
      }

}

