
  /* 
    ##Device = Tablets, Ipads 
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) 
{
      .container, .child3, .child {
        float: none;       
        overflow: inherit;
        width: auto !important;
      }

      body{
        margin: 0;
        justify-content: left;
        text-align: justify;
    }

      .cv-page {
        outline: 0;
        font-weight: inherit;
        font-style: inherit;  
        vertical-align: baseline;
        text-decoration: none;
        width: auto;
        height: 100%;
        margin: 20px;
        position: relative;
        padding: 40px 0;
        font-size:10px;
        border: 1px solid black;
      }

      .child{
        background-color: rgba(255, 255, 255, 0.8);
        border: 1px solid rgba(128, 118, 118, 0.8);
        padding: 20px;
        text-align: left;    
        display: inline-block;
        margin: 10px !important;
      }

      .child3{
        background-color: rgba(255, 255, 255, 0.8);
        border: 1px solid rgba(128, 118, 118, 0.8);
        text-align: left;    
        display: inline-block;
        margin: 10px !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
      }

      #banner{
        background-image: linear-gradient(rgba(34,34,34,0.6), rgba(34,34,34,0.6)), url(images/banner.jpg);
        max-height: 100%;
        width: 100vh;
        position: relative;
        background-size: cover;
        text-align: center;
        color: #fff;
        display: block;
        margin-left: 85px;
      }

      .hide{
        display:none;
      }

       h2{
        font-size: 15px !important;
      }

      .section-title{
        padding-left: 10px;
        padding-top: 20px;
      }

      #about{
        display: grid;
        grid-template-columns: 50% 50%;    
        align-content: space-evenly;
        text-align: justify;
        margin: 0;
      }
 
      .text1{
        clear: left;
      }

      .image{
        height: auto;
        width: 230px;
        margin-right: 0;
      }

      .project {
        display: grid;
        grid-template-columns: auto auto auto;
        padding: 0;
        align-content: space-evenly;
        text-align: justify;
        justify-content: center;
      }

      #job-info {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto;
        padding: 10px;
        align-content: center;
        text-align: justify;
        margin: 0;
        justify-content: center;
      }
      .border-L{
        border-left: 1px solid #ddcba2 !important;
      }

      .prize{
        display: grid;
        grid-template-columns: 37.5% 37.5%; 
        grid-template-rows: auto ;  
        padding: 10px;
        align-content: space-evenly;
        text-align: justify;
        margin: 0;
        justify-content: center;
    }

} 